Repository creasico/laravel-package, changes with the labels that .github/labeler.yml gives for each.
All labels: integration, docs, deployment, api, localization, ui/ux, db: schema, enhancement

.github/labeler.yml:

integration:
- '.github/workflows/*.yml'
- 'tests/Browser/**.php'

docs:
- '.env.example'
- '**.md'

deployment:
- '.github/workflows/deploy.yml'
- 'scripts/deploy.php'
- 'scripts/deploy/**'

api:
- 'src/**.php'
- 'routes/*.php'

localization:
- 'resources/lang/**'

'ui/ux':
- 'resources/views/**'

'db: schema':
- 'src/Models/**.php'
- 'database/migrations/**.php'

enhancement:
- '**'

feat(ci): update auto release config
  .github/release.yml
  .github/workflows/release.yml
Labels: integration, enhancement

feat: migrate from `husky` to `simple-git-hooks`
  package.json
  pnpm-lock.yaml
  scripts/husky/commit-msg
  scripts/husky/pre-commit
Labels: enhancement

fix(ci): update test workflows for pull requests
  .github/workflows/test.yml
Labels: integration, enhancement

chore(release): 0.0.2
  CHANGELOG.md
  package.json
Labels: docs, enhancement

chore: change repository owner to @creasico/engineers
  .github/CODEOWNERS
Labels: enhancement

chore: forgot to remove `scripts.prepare` after migrate from `husky`
  package.json
Labels: enhancement

chore: add missing npm script to initiate git hooks
  package.json
Labels: enhancement

ci: update ci config
  .github/workflows/test.yml
  .github/workflows/triage.yml
Labels: integration, enhancement

chore: update vscode config
  .vscode/settings.json
Labels: enhancement

ci: update dependabot configs
  .github/dependabot.yml
  .github/workflows/triage.yml
Labels: integration, enhancement
