Repository creasico/laravel-package, changes with the labels that .github/labeler.yml gives for each.
All labels: api, db: schema, deployment, docs, enhancement, integration, localization, ui/ux

.github/labeler.yml:

api:
- changed-files:
  - any-glob-to-any-file: ['src/**.php', 'routes/*.php']

'db: schema':
- changed-files:
  - any-glob-to-any-file: ['src/Models/**.php', 'database/migrations/**.php']

deployment:
- changed-files:
  - any-glob-to-any-file:
    - '.github/workflows/deploy.yml'
    - 'scripts/deploy.php'
    - 'scripts/deploy/**'

docs:
- changed-files:
  - any-glob-to-any-file: ['.env.example', '**.md']

enhancement:
- changed-files:
  - any-glob-to-any-file: '**'

integration:
- changed-files:
  - any-glob-to-any-file:
    - '.github/workflows/*.yml'
    - 'tests/Browser/**.php'

localization:
- changed-files:
  - any-glob-to-any-file: 'resources/lang/**'

'ui/ux':
- changed-files:
  - any-glob-to-any-file: 'resources/views/**'

ci: update action upload and download artifact due to their v4 changes
  .github/workflows/test.yml
Labels: enhancement, integration

fix: fix testing issue on ci
  tests/TestCase.php
Labels: enhancement

ci: fix upload artifact name that missing `matrix.db`
  .github/workflows/test.yml
Labels: enhancement, integration

ci: update test workflow
  .github/workflows/test.yml
Labels: enhancement, integration

ci: update test workflow
  .github/workflows/test.yml
Labels: enhancement, integration

ci: experiment to check whether `CC_TEST_REPORTER_ID` is available
  .github/workflows/test.yml
Labels: enhancement, integration

ci: replace labeler with prepare workflow
  .github/workflows/prepare.yml
  .github/workflows/test.yml
  .github/workflows/triage.yml
Labels: enhancement, integration

ci: clean up
  .github/workflows/prepare.yml
  .github/workflows/test.yml
Labels: enhancement, integration

chore(release): 0.0.3
  CHANGELOG.md
  package.json
Labels: docs, enhancement

ci: update ci workflow
  .github/workflows/configure.yml
  .github/workflows/prepare.yml
  .github/workflows/test.yml
Labels: enhancement, integration

ci: add `.env.example` file
  .env.example
Labels: docs, enhancement

chore: add funding and support links information
  composer.json
Labels: enhancement

chore(deps): exclude symfony v7.x package to maintain support of PHP 8.1
  composer.json
  composer.lock
Labels: enhancement

chore(dev): make use of `asdf-vm` for local development environment
  .gitattributes
  .tool-versions
Labels: enhancement

chore(dev): ignore `.tool-versions` file
  .gitattributes
  .gitignore
  .tool-versions
Labels: enhancement

chore: update `.gitattribtues` file
  .gitattributes
Labels: enhancement

chore(release): 0.0.4
  CHANGELOG.md
  package.json
Labels: docs, enhancement

ci: fix my stupidity
  .github/workflows/configure.yml
  .github/workflows/test.yml
Labels: enhancement, integration

chore(dev): update vscode settings and extension recommendations
  .vscode/extensions.json
  .vscode/settings.json
Labels: enhancement

chore(ci): update ci config to use workflow from feryardiant
  .github/workflows/configure.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Labels: enhancement, integration

fix: fix artifacts name conflicts
  .github/workflows/release.yml
  .github/workflows/test.yml
Labels: enhancement, integration

chore(release): 0.0.5
  CHANGELOG.md
  package.json
Labels: docs, enhancement

chore: switch back to `projek-xyz/actions` workflows
  .github/workflows/release.yml
  .github/workflows/test.yml
Labels: enhancement, integration
